<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.holamundete">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".fun_guardar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Huertapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".perfilAmigo"></activity>
        <activity android:name=".Buscaramigos" />
        <activity android:name=".ListaPilar" />
        <activity android:name=".busqueda" />
        <activity android:name=".perfilUsuario" />
        <activity android:name=".registro_usuario" />
        <activity android:name=".huerta_digital0" />
        <activity android:name=".buscador_digital" />
        <activity android:name=".menu_principal" />
        <activity android:name=".menu_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
